{{> header }}

<div class="postcard">
	<img src="/images/postcard.png" data-at2x="images/postcard_2x.png" alt="Greetings from Faraway" />
</div>

<section class="newsletter-section">
  <div class="newsletter">
    <div class="newsletter__title">Book your holiday now.</div>
    <form class="newsletter__form" id="newsletter_form">
      <input type="email" name="email" class="newsletter__email" placeholder="your email">
      <button type="submit" form="newsletter_form" id="newsletter_submit" class="newsletter__submit ladda-button" data-style="zoom-in"><span class="ladda-label">Book</span></button>
    </form>
    <div class="newsletter__thanks">Thank you for booking your next holiday with Fly THIS!</div>
  </div>
</section>

<div class="northplay">
	<a href="https://northplay.co">
	  <img src="/images/northplay.png" data-at2x="images/northplay_2x.png" alt="Northplay" />
	</a>
</div>


{{> footer }}
