$bem_separator_element: '__';
$bem_separator_modifier: '--';

$layout_max_width: 1230px;

$font_family_primary: 'Helvetica Neue', Helvetica, sans-serif;

$font_weight_book: 400;
$font_weight_heavy: 700;

$color_blue_deep: #528cc1;
$color_blue_light: #8dbeea;
$color_brown: #452f19;
$color_sand: #e5cbb0;
