@import "normalize";
@import "ladda";

@import "_variables";
@import "_functions";
@import "_mixins";
@import "_flex";

html {
  font-size: 62.5%;
  font-family: $font_family_primary;
}

body, p, a, span, li, h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #e89b48;
}

@include b(container) {
  width: 100%;
  background-image: url(/images/background.jpg);
  background-color: #e89b48;
  background-size: cover;
  min-height: 100vh;
}

@import "blocks/_postcard";
@import "blocks/_newsletter";
@import "blocks/_northplay";
